<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td><%= plan.body %></td>
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>